name: build
on:
  workflow_dispatch: # 支持手动触发
jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     tool-cache: false # 避免删除预缓存工具
      #     android: true
      #     dotnet: true
      #     haskell: true
      #     large-packages: true
      #     docker-images: true
      #     swap-storage: true

      - name: Install Go
        run: |
          sudo apt install golang
      
      - name: Check Go Version
        run: |
          go version
