name: build
on:
  workflow_dispatch: # 支持手动触发
jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Install Bazel
        run: |
          wget https://github.com/bazelbuild/bazel/releases/download/8.1.0/bazel-8.1.0-linux-arm64
          sudo mv ./bazel-8.1.0-linux-arm64 /usr/bin/bazel
          sudo chmod +x /usr/bin/bazel  # 添加执行权限
      
      - name: Check Bazel version
        run: bazel version
